# Runtime data
examples/npm/
examples/letsencrypt/

# Certificates
examples/ca-certs/*
!examples/ca-certs/
!examples/ca-certs/README.md

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db